@{
    ViewData["Title"] = "Access Denied";
}

<h1>@ViewData["Title"]</h1>
<p>You do not have permission to access this resource.</p>
<p>Check if you are logged in or contact the Administrator.</p>
